body {
    margin: 0%;
}
.container {
    width: 1000px;
    margin-left: calc(50% - 500px);
    margin-bottom: 15px;
    margin-top: 50px;
    display: inline-block;
    margin-left: 50px;
}
.main-menu {
    float: right;
}
.main-menu > a {
    text-decoration: none;
    font-size: 18px;
    margin-left: 2.4em;
    color: black;
}
.main-menu > a:first-child {
    margin-left: 0%;
}
header > img {
    float: left;
    width: 200px;
}
.main-menu > a:hover {
    text-decoration: underline;
    transition: all 0.5s;
}

div {
    width: 35%;
    display: inline-block;
}
h1 {
    font-size: 70px;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: 100;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p {
    font-size: 18px;
    line-height: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 70%;
    margin-bottom: 50px;
}
.image {
    float: right;
    width: 40%;
}
div > a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #c16a85;
    font-weight: 700;
}